:root {
    --primary-bg-color: #577590;  
    --primary-btn-color: #4b89dc; 
    --primary-btn-hover-color: #3b71b3; 
    --input-border-color: #ddd;  
    --input-focus-border-color: #4b89dc;  
    --text-color: #fff;  
    --heading-color: #000;  
    --page-bg-color: #d8e3ed;  
    --side-bar-nav-item-active: #194685;
    --side-bar-nav-item-active-background: #e8f0fe;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  
  h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  button {
    /* width: 100%; */
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: var(--primary-btn-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: var(--primary-btn-hover-color);
  }
  
  button:focus {
    outline: none;
  }
  
  input {
    width: auto;
    padding: 12px;
    border: 2px solid var(--input-border-color);
    border-radius: 5px;
    font-size: 16px;
  }
  
  input:focus {
    border-color: var(--input-focus-border-color);
    outline: none;
  }
  
  input::placeholder {
    color: #888;
  }
  
  
  label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #000; 
  }
  
